doctype html
html(lang='eng')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title='AdUnblocker'
    // Bootstrap
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    style(type='text/css').
      img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
      h4 {
        padding: 15px;
      }
  body
    h1(class='page-header text-center') AdUnblocker Test
    .container
      .row
         .col-md-3.col-sm-6.col-xs-12
           h3(class='text-center') Normal image
           img#normal-img(src='images/ad.jpg')
         .col-md-3.col-sm-6.col-xs-12
           h3(class='text-center') Base64 Encoded image
           img(src='data:image/jpeg;base64,#{encoded_img}', data-id='encoded-img')
         .col-md-3.col-sm-6.col-xs-12
           h3(class='text-center') Random image
           img(src='images/#{random_img}', data-id='random-img')
         .col-md-3.col-sm-6.col-xs-12
           h3(class='text-center') Random directory + image
           img(src='#{random_dir}', data-id='random-dir')
      .row
         .col-xs-12
           h3(class='text-center') Status &amp; Statistics
           h4#adblock-not-enabled(class='bg-success', style={display: 'none'}) AdBlock is not enabled
           h4#adblock-enabled(class='bg-danger') AdBlock is enabled
           table(class='table')
             thead
               tr
                 th #
                 th Image Type
                 th Revenue (0.10&#162; per view)
             tbody
               tr
                 td 1
                 td Normal
                 td $0.00
               tr
                 td 2
                 td Encoded
                 td $0.00
               tr
                 td 3
                 td Random
                 td $0.00
               tr
                 td 4
                 td Random Directory
                 td $0.00
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')    
    script(type='text/javascript').
        $(document).ready(function() {
            if($('#normal-img').css('display') == 'none') {
                $('#adblock-enabled').show();
                $('#adblock-not-enabled').hide();
            } else {
                $('#adblock-enabled').hide();
                $('#adblock-not-enabled').show();
            }
        });